#quiz {
    text-align: center;
}

#quizBody {
    text-align: center;
    padding: 10vh;
}

#questions {
  text-align: left
}

.quizQuestions {
  padding: 5vh;
}

.h2 {
  text-align: center;
}

.answerButton {
  margin-top: 20px;
  background-color: rgb(226, 80, 214);
  color: whitesmoke;
  border: solid 1px black;
  border-radius: 10px;
  font-size: 25px;
  padding: 15px;
  display: block;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.answerButton:hover {background-color: rgb(226, 34, 210)}

.answerButton:active {
  background-color: rgb(226, 34, 210);
  transform: translateY(10px);
}




@media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 30px;
      margin-top: 40px;
    }

    .col-md-8 {
      width: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
    .footerText {
        font-size: 10pt;
    }
}
  
@media screen and (max-width: 320px) {
    .container {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
      }
    
      .col-md-8 {
        width: 100%;
      }
      .col-md-6 {
        width: 50%;
    }
    .footerText {
        font-size: 8pt;
    }
}
  
@media screen and (max-width: 168px) {
    .container {
        width: 100%;
        padding: 0px;
        margin-top: 10px;
      }
    
      .col-md-8 {
        width: 100%;
      }
      .col-md-6 {
        width: 50%;
    }
    .footerText {
        font-size: 6pt;
    }
}